<div class="section5 p-5 px-4">
    <div class="container">
            <div class="portfolio-header">
                <div class="portfolio-title"><h1>Portfolio</h1></div>
                <div class="portfolio-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero in consectetur earum error sit. Cupiditate repellendus vero pariatur perferendis quam.</p></div>
            </div>
            <div class="card-group">
                <div class="card card m-3">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sit voluptatem ullam doloribus dolor autem tempora saepe!</p>
                    </div>
                </div>
                <div class="card card m-3">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sit voluptatem ullam doloribus dolor autem tempora saepe!</p>
                    </div>
                </div>
                <div class="card card m-3">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sit voluptatem ullam doloribus dolor autem tempora saepe!</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>